<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
		        <div class="panel-heading">
		          <h3 class="panel-title">Adicionar Planta</h3>
		        </div>
		        <div class="panel-body">
		          <div class="col-lg-12">
		            <form (ngSubmit)="createPlant()" #newPlantForm="ngForm" class="form-horizontal">
			            <div class="form-group">
			            	<label for="popular_name">Nome da planta: </label>
			            	<input type="text" class="form-control" id="popular_name" name="popular_name" placeholder="Rosa, Gerbera, etc... " required [(ngModel)]="model.popular_name" #popular_name="ngModel">
			            	<div *ngIf="popular_name.errors && (popular_name.dirty || popular_name.touched)" class="alert alert-danger">
			            		<div [hidden]="!popular_name.errors.required">
			                    	É obrigatório inserir o nome popular da planta produzida!
			                    </div>
			            	</div>
			            </div>
			            <div class="form-group">
			            	<label for="scientific_name">Nome cientifico:</label>
			            	<input type="text" class="form-control" id="scientific_name" name="scientific_name" placeholder="Rosaceae, Asteraceae, etc..." required [(ngModel)]="model.scientific_name" #scientific_name="ngModel">
			            	<div *ngIf="scientific_name.errors && (scientific_name.dirty || scientific_name.touched)" class="alert alert-danger">
			            		<div [hidden]="!scientific_name.errors.required">
			            			É obrigatório inserir o nome cientifico da espécie produzida!
			            		</div>
			            	</div>
			            </div>
			            <div class="form-group">
			            	<label for="color">Cor:</label>
			            	<input type="text" class="form-control" id="color" name="color" placeholder="Vermelho, Amarelo e Branco, etc..." required [(ngModel)]="model.color" #color="ngModel">
			            	<div *ngIf="color.errors && (color.dirty || color.touched)" class="alert alert-danger">
			            		<div [hidden]="!color.errors.required">
			            			A cor da espécie é obrigatória!
			            		</div>
			            	</div>
			            </div>
			            <div class="form-group">
							<label for="description">Descrição:</label>
							<textarea class="form-control" id="description" name="description" [(ngModel)]="model.description" #description="ngModel"></textarea>
			            </div>
			            <div class="form-group">
			            	<button type="submit" class="btn btn-success" [disabled]="!newPlantForm.form.valid">Adicionar</button>
			            	<button class="btn btn-danger" (click)="cancelCreate()">Cancelar</button>
			            </div>
		            </form>
		          </div>
		        </div>
		    </div>
		</div>
	</div>
</div>