<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
			    <div class="panel-heading">
			      	<h3 class="panel-title">Adicionar Fila</h3>
			    </div>
			    <div class="panel-body">
			    	<div class="col-lg-12">
						<form (ngSubmit)="createRow(); newRowForm.reset()" #newRowForm="ngForm" class="form-horizontal">
						    <div class="form-group">
								<label for="name">Nome da fila: </label>
								<input type="text" class="form-control" id="name" name="name" placeholder="Fila 1, Fila X, etc ..."  required [(ngModel)]="model.name" #name="ngModel">
						    	<div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
						    		<div [hidden]="!name.errors.required">
						            	O nome da fila é obrigatório!
						            </div>
						    	</div>
						    	<div *ngIf="rowNameTaken" class="alert alert-danger" [hidden]="!greenhouseNameTaken">
							        O nome da fila já existe!
						        </div>
						    </div>
							<div class="form-group">
								<button type="submit" class="btn btn-success" [disabled]="!newRowForm.form.valid">Adicionar</button>
								<button type="submit" class="btn btn-danger" (click)="cancelCreate()">Cancelar</button>
						    </div>
						</form>
					</div>
			    </div>
			</div>
		</div>
	</div>
</div>

