<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<carousel>
			  <slide>
			    <img src="images/greenhouse01.jpg"  class="image" alt="First slide">
			  </slide>
			  <slide>
			    <img src="images/greenhouse02.jpg" class="image" alt="Second slide">
			  </slide>
			  <slide>
			    <img src="images/greenhouse03.jpg" class="image" alt="Third slide">
			  </slide>
			  <slide>
			    <img src="images/greenhouse04.jpg" class="image" alt="Fourth slide">
			  </slide>
			  <slide>
			    <img src="images/greenhouse05.jpg" class="image" alt="Fifth slide">
			  </slide>
			</carousel>
			
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
			        <h4>Sobre a aplicação</h4> 
		        </div>
		        <div class="panel-body">
					<h4>Aplicação AGP(Agricultura de Precisão) trata-se de um projeto desensvolvido no âmbito do projeto final do curso de Engenharia Informática na ESTG no Instituto Politécnico de Leiria. O objetivo desta aplicação é implementar uma ferramente que ajude produtores de produtos agricolas em ambientes controlados de estufas. Ajudando na recolha de dados relevantes a produção do utilizador.</h4>
					<h4>Os utilizadores na aplicação serão capaz de:</h4>
					<h4>->Gerir os seus terrenos;</h4>
					<h4>->Gerir as suas estufas;</h4>
					<h4>->Gerir as suas filas de produção;</h4>
					<h4>->Gerir os seus produtos;</h4>
					<h4>->Gerir as suas plantações;</h4>
					<h4>->Gerir os seus sensores</h4>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
			        <h4>Contactos</h4> 
		        </div>
		        <div class="panel-body text-center">
			        <div class="row">
						<div class="col-lg-6">
							<h4>Trabalho Realizado Por:</h4>
							<h3>Guilherme Ramalho</h3>
							<h5><a>guilherme.r@live.com.pt</a></h5>
							<h3>Miguel Correia</h3>
							<h5><a>miguel.amado.correia@gmail.com</a></h5>
						</div>
						<div class="col-lg-6">
							<h4>Orientadores:</h4>
							<h3>Rosa Matias</h3>
							<h5><a>rosa.matias@ipleiria.pt</a></h5>
							<h3>Nuno Miranda</h3>
							<h5><a>nuno.miranda@ipleiria.pt</a></h5>
							<h3>João Galvão</h3>
							<h5><a>jrgalvao@ipleiria.pt</a></h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
</div>